@model ModelPost.Post

<h1>Criar Post</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="container">

    <div>
        <label>Título</label>
        <input asp-for="Title" />
    </div>

    <div>
        <label>Categoria</label>
        <input asp-for="Category" />
    </div>

    <div>
        <label>Conteúdo</label>
        <textarea asp-for="Content"></textarea>
    </div>

    <div>
        <label>Imagem</label>
        <input type="file" name="imageFile" />
    </div>

    <button type="submit">Publicar</button>

</form>
