<!DOCTYPE html>
<html lang="pt-BR">

<h1>Criar Post</h1>

<form>

    <label>Título</label>
    <input type="text" />

    <br>

    <label>Categoria</label>
    <input type="text" />

    <br>

    <label>Canteúdo</label>
    <textarea></textarea>

    <br>

    <button type="submit">Publicar</button>

</form>
</html>