@model List<ModelPost.Post>

<h1>Feed da Comunidade</h1>

<a href="/Post/Create">Criar novo post</a>

<hr>

@foreach (var post in Model)
{
    <div style="border:1px solid gray; padding:10px; margin-bottom:10px;">

        <h2>@post.Title</h2>

        <p><strong>Categoria:</strong> @post.Category</p>

        <p>@post.Content</p>

        <small>@post.CreatedAt</small>

    </div>
}